<div id="input-region" style="margin: 20px; text-align:center; margin-bottom:40px"></div>
<div id="table-region" style="margin: 20px; margin-left: 44%"></div>
<div id="btn-region" style="margin: 20px; margin-left: 43%"></div>