<h4 style="margin-bottom: 15px;">Filtra il Database</h4>
<label>First name:</label><br>
<input id="name" type="text" value=""><br>
<label>Last name:</label><br>
<input id="surname" type="text" value=""><br>
<label>Age:</label><br>
<input id="age" type="text" value=""><br><br>
<button id="btn-find" type="button" class="btn btn-primary">Filter</button>
<p id="add" style="display: none;">Ci sono <span id="fe"></span> elementi nel Database</p>
