<div id="nav-bar" style="margin-bottom: 20px;">
<ul class="nav nav-tabs" style="width:300px; margin-left:42%">
  <li id="submit" class="nav-item">
    <a id="submit_a" class="nav-link" href="#"><b>Submit</b></a>
  </li>
  <li id="find" class="nav-item">
    <a id="find_a" class="nav-link" href="#"><b>Find</b></a>
  </li>

</ul>
</div>

<div id="box"></div>